<ion-header>
  <ion-navbar>
    <ion-title>User Posts</ion-title>
    <ion-buttons end>
      <button ion-button (click)="newPost()">
        <ion-icon color="primary" name="add-circle-outline"></ion-icon> New post
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- user remote posts -->
  <ion-card *ngFor="let userPost of userPosts; let $index = index">
    <ion-card-header class="post-title">
      {{userPost.title}}
    </ion-card-header>
    <ion-card-content>
      {{userPost.body}}
    </ion-card-content>
  </ion-card>


  <!-- user local posts -->
  <ion-card *ngFor="let userLocalPost of userLocalPosts; let $index = index">
    <ion-card-header class="post-title">
      {{userLocalPost.title}}
    </ion-card-header>
    <ion-card-content>
      {{userLocalPost.body}}
    </ion-card-content>
  </ion-card>

</ion-content>
